body {
    background-color: #f0f0f0;
    color: #000;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
}

.card {
    background-color: #f8f8f8;
    border-radius: 10px;
    padding: 10px;
}

.alert-info {
    background-color: #e9ecef;
    color: #000;
}
